<!-- Header -->
<header id="js-header" class="u-header u-header--static u-header--show-hide u-header--change-appearance" data-header-fix-moment="500" data-header-fix-effect="slide">
  <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-15" data-header-fix-moment-exclude="g-bg-white g-py-15" data-header-fix-moment-classes="g-bg-white-opacity-0_8 u-shadow-v18 g-py-5">
    <nav class="navbar navbar-expand-lg">
      <div class="container">

        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
          <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-5 g-pt-5--lg g-mr-40--sm" id="navBar">
          <ul class="navbar-nav text-uppercase g-font-weight-600 g-font-size-14 mx-auto">

            <!-- Home -->
            <li class="nav-item g-mx-25--lg">
              <a class="nav-link px-0" href="index.html">Home</a>
            </li>
            <!-- End Information -->

            <!-- About -->
            <li class="nav-item dropdown g-mx-25--lg">
              <a class="nav-link dropdown-toggle g-px-0" id="nav-link-1" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-1" data-toggle="dropdown" href="#">About</a>
              <!-- Submenu (Bootstrap) -->
              <ul class="dropdown-menu rounded-0 g-text-transform-none g-brd-none g-brd-top g-brd-primary g-brd-top-2 g-mt-20 g-mt-10--lg--scrolling" id="nav-submenu-1" aria-labelledby="nav-link-1">
                <li class="dropdown-item">
                  <a class="nav-link g-px-0" href="welcome.html">Welcome</a>
                </li>
              </ul>
              <!-- End Submenu (Bootstrap) -->
            </li>
            <!-- End About -->

            <!-- Exhibitions -->
            <li class="nav-item g-mx-25--lg">
              <a href="publications.html" class="nav-link px-0">Publications</a>
            </li>
            <!-- End Exhibitions -->

            <!-- Exhibitions -->
            <li class="nav-item g-mx-25--lg">
              <a href="people.html" class="nav-link px-0">People</a>
            </li>
            <!-- End Exhibitions -->

          </ul>
        </div>
        <!-- End Navigation -->

      </div>
    </nav>
  </div>
</header>
<!-- End Header -->
