<!-- Promo Block -->
<section class="g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-black-opacity-0_3--after g-min-height-100vh g-flex-centered g-py-100" style="background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  <div class="container g-color-white text-center g-z-index-1">
    <div class="mb-5">
      <h2 class="g-font-weight-700 g-font-size-40 g-font-size-70--md text-uppercase g-mb-30">
         Main Page of a GREAT Project 
      </h2>
      <p class="g-font-size-35 mb-4">
        GREAT: From Code Development to Catalysts for Homogeneous conversion of CO2
      </p>
    </div>
  </div>
</section>
<!-- End Promo Block -->


<!-- Icon Blocks -->
<div class="row no-gutters g-brd-bottom--lg g-brd-gray-light-v4">
  <div class="col-lg-4 g-pa-60">
    <!-- Icon Blocks -->
    <div class="text-center">
      <span class="d-inline-block u-icon-v3 u-icon-size--xl g-font-size-36 g-bg-primary g-color-white rounded-circle g-mb-20">
          <i class="icon-finance-086 u-line-icon-pro"></i>
        </span>
      <h3 class="h4 g-color-gray-dark-v2 mb-3">
         About GREAT 
      </h3>
      <p class="mb-0">  
	GREAT is an interdisciplinary research project at UiT – The Arctic
        University of Norway on the program development and chemical conversion of CO2 to other molecules. 
      </p>
    </div>
    <!-- End Icon Blocks -->
  </div>

  <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-pa-60">
    <!-- Icon Blocks -->
    <div class="text-center">
      <span class="d-inline-block u-icon-v3 u-icon-size--xl g-font-size-36 g-bg-primary g-color-white rounded-circle g-mb-20">
          <i class="icon-education-031 u-line-icon-pro"></i>
        </span>
      <h3 class="h4 g-color-gray-dark-v2 mb-3">
         GREAT activities 
      </h3>
      <p class="mb-0"> 
        List of speakers to come.
      </p>
    </div>
    <!-- End Icon Blocks -->
  </div>

  <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-pa-60">
    <!-- Icon Blocks -->
    <div class="text-center">
      <span class="d-inline-block u-icon-v3 u-icon-size--xl g-font-size-36 g-bg-primary g-color-white rounded-circle g-mb-20">
          <i class="icon-travel-044 u-line-icon-pro"></i>
        </span>
      <h3 class="h4 g-color-gray-dark-v2 mb-3">
         GREAT funding 
      </h3>
      <p class="mb-0">
        The project is funded by the Tromsø Research Foundation and by the Dept. of Chemistry at UiT. 
      </p>
    </div>
    <!-- End Icon Blocks -->
  </div>
</div>
<!-- End Icon Blocks -->
