<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" 
       style="height: 200%; background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  </div>
  <!-- End Parallax Image -->
  <!-- Promo Block Content -->
  <div class="container g-color-white text-center g-py-120">
    <p class="g-font-weight-300 g-font-size-22 text-uppercase"></p>
  </div>
  <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->

<section class="container g-pt-100 g-pb-70">
  {% for publication in site.data.publications.publications %}
    <div class="row justify-content-center g-mb-60">
      <div class="col-lg-12">
        <!-- Heading -->
          <div class="text-center g-color-black">
            <h2 class="h3 text-uppercase mb-2">
               {{ publication.year }} 
            </h2>
            <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
            {% for item in publication.items %}
              <!--div class="lead mb-0"-->
              <div>
                <p> 
                    {{ item.authors }}
                    <br>
                    {{ item.title }}
                    <br>
                    {{ item.journal }}, {{ publication.year }}
                    <br>
                    <a href="{{ item.link }}">{{ item.doi }}</a>
                    <!--i>{{ item.journal }}</i> <b>{{ item.issue }}</b>, {{ item.page }}-->
               </p>
              </div>
            {% endfor %}
          </div>
        <!-- End Heading -->
      </div>
    </div>
  {% endfor %}
</section>
